/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

&soft_off {
    hold-time-ms = <2000>; // Only turn off it the key is held for 2 seconds or longer.
};

/ {
//    sensors {
//        compatible = "zmk,keymap-sensors";
//        sensors = <&left_encoder &right_encoder>;
//        triggers-per-rotation = <20>;
//    };
    behaviors {
        rpi: require_prior_idle {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BASE";
            bindings = <
// |--------------------------------------------------------------------------|                         |---------------------------------------------------------------------------|
// |  ESC    |  1         |  2         |  3        |  4          |     5      |                         |  6       |    7       |  8        |  9         |   0          |   RAISE   |
     &kp ESC     &kp N1     &kp N2       &kp N3       &kp N4         &kp N5                               &kp N6       &kp N7      &kp N8     &kp N9       &kp N0         &tog 2
// |---------|------------|------------|-----------|-------------|------------|                         |----------|------------|-----------|------------|--------------|-----------|
// |  TAB    |  Q         |  W         |  E        |  R          |     T      |                         |  Y       |    U       |  I        |  O         |   P          |    =      |
     &kp TAB   &kp Q        &kp W        &kp E       &kp R           &kp T                                &kp Y        &kp U      &kp I         &kp O        &kp P        &kp EQUAL
// |---------|------------|------------|-----------|-------------|------------|                         |----------|------------|-----------|------------|--------------|-----------|
// |  CAPS   |  A & Ctrl  |  S & Super |  D & Alt  |  F & SHIFT  |     G      |                         |  H       |  J & SHIFT |  K & Alt  |  L & Super |   ; & Ctrl   |    '      |
    &kp CAPS  &rpi LCTRL A &rpi LGUI S  &rpi LALT D &rpi LSHIFT F    &kp G                                &kp H    &rpi RSHIFT J &rpi RALT K &rpi RGUI L  &rpi RCTRL SEMI &kp SQT
// |---------|------------|------------|-----------|-------------|------------|------------| |----------|----------|------------|-----------|------------|--------------|-----------|
// |  LOWER  | Z & Lower  |  X & Upper |  C        |  V          |     B      |     "["    | |    "]"   |  N       |    M       |     ,     |  . & Upper |   / & Lower  |    -      |
     &tog 1    &lt 1 Z       &lt 2 X      &kp C         &kp V        &kp B       &kp LBKT      &kp RBKT   &kp N        &kp M     &kp COMMA    &lt 2 DOT    &lt 1 FSLH    &kp MINUS
// |-----------------------------------|-----------|-------------|------------|------------| |----------|----------|------------|-----------|------------|--------------|-----------|
//                                     |  Page Up  |    HOME     |   DELETE    |   ENTER   | |   SPACE  | BACKSPACE|   END    |  Page Down  |
                                         &kp PG_UP     &kp HOME     &kp C_AC_DEL    &kp RET     &kp SPACE   &kp BSPC   &kp END   &kp PG_DN
//                                     |---------------------------------------------------| |----------------------------------------------|
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            display-name = "SYMBOLS";
            bindings = <
// |---------------------------------------------------------------------------------------|                    |-----------------------------------------------------------------------------------------------------|
// |    F1   |       F2       |      F3      |      F4       |      F5         |    F6     |                    |     F7      |         F8         |      F9       |      F10      |       F11      |       F12       |
      &kp F1       &kp F2          &kp F3         &kp F4          &kp F5           &kp F6                          &kp F7           &kp F8             &kp F9          &kp F10          &kp F11          &kp F12
// |---------|---------------|--------------|----------------|-----------------|-----------|                    |-------------|--------------------|---------------|---------------|----------------|-----------------|
// |         |               |              |   MV WKSPC UP  |                 |MV APP LEFT|                    | MV APP RIGHT|         7          |       8       |       9       |      "+"       |       "="       |
     &trans       &trans         &trans      &kp RG(RC(RS(UP)))    &trans       &kp LG(LS(LEFT))                 &kp RG(RS(RIGHT))   &kp KP_N7       &kp KP_N8        &kp KP_N9       &kp KP_PLUS      &kp KP_EQUAL
// |---------|---------------|--------------|----------------|-----------------|-----------|                    |-------------|--------------------|---------------|---------------|----------------|-----------------|
// |         |               | MV WKSPC LEFT| MV WKSPC DOWN  | MV WKSPC RIGHT  |PREV WKSPC |                    | NEXT WKSPC  |         4         |       5       |       6       |       "*"       |       "`"       |
    &trans    &trans  &rpi LGUI RG(RC(RS(LEFT))) &rpi LALT RG(RC(RS(DOWN))) &rpi LSHIFT RG(RC(RS(RIGHT))) &kp LG(LC(LEFT)) &kp RG(RC(RIGHT)) &rpi RSHIFT KP_N4 &rpi RALT KP_N5 &rpi RGUI KP_N6 &rpi RCTRL KP_MULTIPLY &kp GRAVE
// |---------|---------------|--------------|----------------|-----------------|-----------|--------|  |--------|-------------|--------------------|---------------|---------------|----------------|-----------------|
// |         |               |              |                |                 |           |        |  |        |             |         1          |      2        |      3        |       "/"      |       "-"      |
     &trans       &trans          &trans         &trans            &trans          &trans     &trans      &trans      &trans         &kp KP_N1         &kp KP_N2       &lt 2 KP_N3   &lt 1 KP_DIVIDE     &kp KP_MINUS
// |-------------------------|--------------|----------------|-----------------|-----------|--------|  |--------|-------------|--------------------|---------------|---------------|----------------|-----------------|
//                                          |                |                 |           |        |  |        |             |          0         |      "."      |
                                                 &trans            &trans          &trans    &trans      &trans     &trans           &kp KP_N0        &kp KP_DOT
//                                          |-------------------------------------------------------|  |-----------------------------------------------------------|
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            display-name = "ARROWS";
            bindings = <
// |------------------------------------------------------------------------------------|                       |-------------------------------------------------------------------------------------------------------------------|
// | MediaBack |   MediaPause   |   MediaFwd   |   Volume-    |    Mute    |   Volume+  |                       |     SFT OFF      |    Clear BT      |       BTNEXT       |                     |  SCREENSHOT   |      RAISE       |
    &kp C_PREV  &kp C_PLAY_PAUSE   &kp C_NEXT    &kp C_VOL_DN   &kp C_MUTE  &kp C_VOL_UP                            &soft_off          &bt BT_CLR           &bt BT_NXT             &trans    &kp RG(RS(PRINTSCREEN))    &tog 2
// |-----------|----------------|--------------|--------------|------------|------------|                       |------------------|------------------|--------------------|---------------------|---------------|------------------|
// |    TAB    |       Q        |     W        |      E       |     R      |     T      |                       |     RESET        |                  |        "^"         |                     |    INS        |      NUMLOCK     |
      &kp TAB       &kp Q            &kp W          &kp E         &kp R         &kp T                               &sys_reset            &trans             &kp UP               &trans          &kp C_AC_INS       &kp KP_NUM
// |-----------|----------------|--------------|--------------|------------|------------|                       |------------------|------------------|--------------------|---------------------|---------------|------------------|
// |   CTRL    |       A        |     S        |     D        |     F      |     G      |                       |     OUT TOG      |       "<-"       |          v         |         "->"        |   DecBright   |     IncBright    |
    &kp LCTRL       &kp A            &kp S          &kp D          &kp F         &kp G                             &out OUT_TOG         &kp LEFT            &kp DOWN             &kp RIGHT        &kp C_BRI_DEC    &kp C_BRI_INC
// |-----------|----------------|--------------|--------------|------------|------------|----------| |----------|------------------|------------------|--------------------|---------------------|---------------|------------------|
// |   SHIFT   |     Z          |      X       |      C       |    V       |     B      |          | |          |                  |                  |                    |                     |               |                  |
    &kp LSHIFT      &kp Z            &kp X          &kp C         &kp V       &kp B        &trans      &trans        &trans              &trans             &trans               &trans            &trans           &trans
// |-----------|----------------|--------------|--------------|------------|------------|----------| |----------|------------------|------------------|--------------------|---------------------|---------------|------------------|
//                                             |     CTRL     |   Super    |   Alt      |   ENTER  | |   SHIFT  |       Alt        |      Super       |       CTRL         |
                                                   &kp LCTRL     &kp LGUI     &kp LALT     &trans     &kp RSHIFT      &kp RALT          &kp RGUI            &kp RCTRL
//                                             |---------------------------------------------------| |---------------------------------------------------------------------|
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
